{% load static %}
<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{% static 'css/style_quiz.css' %}">
<body>
<div class="sample-section-wrap">
  <div class="sample-section">
  {% if casa == False %}
  <h1>Hogwarts Sorting Experience</h1>
  <form method="POST">
	{% csrf_token %}
	{{ Pregunta_1.as_p }}
  {{ Pregunta_2.as_p }}
  {{ Pregunta_3.as_p }}
  {{ Pregunta_4.as_p }}
  {{ Pregunta_5.as_p }}
  {{ Pregunta_6.as_p }}
  {{ Pregunta_7.as_p }}
  {{ Pregunta_8.as_p }}
	<input type="submit" value="Submit">
</form>
{% endif %}
{% if casa%}
<h1>Your Hogwarts house is: </h1>
<h1>{{ casa }}</h1>
{% endif %}
</div>
</div>
</body>
